{{ partial "header.html" . }}
{{ if hasPrefix .URL "/blog/" }}
  {{ range sort .Paginator.Pages }}
    <h2><a href="{{ .Permalink }}">{{ .Title }}</a></h2>
    <p>
      <span class="timestamp">{{ .Date.Format "2006-01-02" }}</span>
      {{ if .Params.tags }}
        &nbsp;&nbsp;&nbsp;{{ partial "tags" .Params.tags }}
      {{ end }}
    </p>
    <div class="content">
    {{ .Summary | plainify | safeHTML }}
    {{ if .Truncated }}
      ... <a href="{{ .Permalink }}">Read more&nbsp;&raquo;</a>
    {{ end }}
    </div>
  {{ end }}
  {{ partial "pagination.html" . }}
{{ end }}
{{ partial "footer.html" . }}
