{{ partial "header.html" . }}
<div class="row">
	<div class="col-md-3">
	<h2>{{ .Site.Params.author }}</h2>
	<div class="connect header">
		<i class="fa fa-home"></i> Durban, South Africa<br>
		<i class="fa fa-phone"></i> +27 (0)83 381 3655<br>
		<i class="fa fa-envelope"></i> <a target="_blank" href="mailto:andrew@exegetic.biz">andrew@exegetic.biz</a><br>
		<i class="fab fa-linkedin"></i> <a target="_blank" href="http://www.linkedin.com/in/datawookie">www.linkedin.com/in/datawookie</a><br>
		<i class="fab fa-twitter"></i> <a target="_blank" href="https://twitter.com/datawookie">twitter.com/datawookie</a><br>
		<i class="fab fa-github"></i> <a target="_blank" href="https://github.com/datawookie">github.com/datawookie</a><br>
		<i class="fa fa-rss"></i> <a target="_blank" href="https://datawookie.netlify.com/blog/">datawookie.netlify.com/blog/</a>
	</div>
	</div>
	<div class="col-md-9">
	{{ .Content }}
	</div>
</div>
{{ partial "footer.html" . }}
