{{ partial "header.html" . }}
<h1>{{ .Title }}</h1>
{{ with .Params.subtitle }}
<h2 class="subtitle">{{.}}</h2>
{{ end }}
{{ if hasPrefix .URL "/blog/" }}
<p>
	<span class="timestamp">{{ .Date.Format "2006-01-02" }}</span>
	{{ if .Params.tags }}
	{{ partial "tags" .Params.tags }}
	{{ end }}
	{{ if .Params.author }}
	{{ .Params.author }}
	{{ end }}
</p>
{{ end }}
{{ .Content }}
<div>
{{ with .NextInSection }}
  Next: <a href="{{ .Permalink }}">{{ .Title }}</a>.<br>
{{ end }}
{{ with .PrevInSection }}
  Previous: <a href="{{ .Permalink }}">{{ .Title }}</a>.
{{ end }}
</div>
{{ partial "footer.html" . }}


