<nav class="navbar navbar-expand-md bg-light navbar-light fixed-top">
	<a id="site-title" class="navbar-brand" href="/">{{ .Site.Title }}</a>
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
	  <span class="navbar-toggler-icon"></span>
	</button>
	<div class="collapse navbar-collapse" id="collapsibleNavbar">
	  <ul class="navbar-nav">
	  	{{ range .Site.Menus.main }}
	    <li class="nav-item"><a class="nav-link" href="{{.URL}}">{{ .Name }}</a></li>
		{{ end }}
	  </ul>
	</div>
</nav>